@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/Montserrat-Medium.ttf');
 }

 @theme {
  --font-montserrat: Montserrat;
  --animate-fade-in: fade-in 0.4s ease-in-out;
 }

 @layer utilities {
  .font-montserrat {
    font-family: var(--font-montserrat);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
